rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default-deny catch-all
    match /{document=**} {
      allow read, write: if false;
    }
    
    // Permit read and write operations for the logs collection in the admin dashboard
    match /logs/{logId} {
      allow read, write: if true;
    }

    // Permit read and write operations for the biometrics collection
    match /biometrics/{biometricId} {
      allow read, write: if true;
    }
  }
}
